<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">

    <a class="navbar-brand fw-bold text-success" href="#">PET Project Auction</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#auctionNavbar"
      aria-controls="auctionNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="auctionNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Лоты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мои ставки</a>
        </li>
      </ul>

      <div class="d-flex ms-lg-3 mt-3 mt-lg-0">
        <button class="btn btn-success px-4 rounded-pill">Войти</button>
      </div>
    </div>
  </div>
</nav>
