<div class="table">
  <div class="bord">
    <div class="menu-table">
      <div class="row">
        <button (click)="openWindowCreateLot()" nz-button nzType="default">Create lot</button>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input #inp (keyup)="search(inp.value)" type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <div class="select_page_size">
          <div class="select_page_size_title">Items per page:</div>
          <div class="select_page_size_body">
            <nz-select [(ngModel)]="_pageSize" (ngModelChange)="onPageSizeChange($event)">-->
              @for (item of pageSizes; track item){
              <nz-option nzValue="{{ item }}" nzLabel="{{ item }}"></nz-option>-->
              }
            </nz-select>
          </div>
        </div>
      </div>
    </div>
    <nz-table
      ngSkipHydration
      [nzShowPagination]="false"
      #nzTable
      [nzData]="pageDataArr"
      nzTableLayout="fixed"
      [nzPageSize]="pageSize"
    >
      <thead>
        <tr>
          <th nzWidth="75px">Details</th>
          <th nzWidth="150px">Image</th>
          <th nzWidth="70px">Lot id</th>
          <th>Title</th>
          <th>Start price</th>
          <th>Max current bid</th>
          <th nzWidth="235px">State</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
  @for (element of nzTable.data; track element; let i = $index) {
    <tr>
      <td [nzExpand]="expandSet.has(element.id)" (nzExpandChange)="onExpandChange(element.id, $event)"></td>
      <td> <img src="{{element.image_url}}" /> </td>
      <td>{{ element.id }}</td>
      <td>{{ element.title }}</td>
      <td>{{ element.start_price}}</td>
      <td>{{ element.max_bid}}</td>

      <td>
        <app-lot-status [startTime]="element.start_time"
                        [endTime]="element.end_time"
                        [endTime]="element.end_time"
                        [numberOfBets]="element.bids.length || 0"
                        [bids]="element.bids"
                        [state]="element.state"
        ></app-lot-status>
      </td>
      <td class="option"></td>
    </tr>
    @if (expandSet.has(element.id)) {
      <tr>
        <td [colSpan]="8">
          <div class="parent-container">
            <div class="container">
            </div>
          </div>
        </td>
      </tr>
    }
  }
</tbody>
    </nz-table>

    <div class="footer-table">
      <ng-container *ngTemplateOutlet="customPaginationTemplate"></ng-container>
      <ng-template #customPaginationTemplate>
        <nz-pagination
          (nzPageIndexChange)="onPageIndexChange($event)"
          [nzPageIndex]="pageIndex"
          [nzTotal]="totalItems"
          [nzPageSize]="pageSize"
          [nzShowTotal]="rangeTemplate"
        ></nz-pagination>
        <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
        <ng-template #rangeTemplate let-range="range" let-total>
          {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>

